<header>
  <nav>
    <ul>
      <li><a href="#info" class="selected">Info</a></li>
      <li><a href="#location">Location</a></li>
      <li><a href="#hotels">Hotels</a></li>
      <li><a href="#registry">Registry</a></li>
      <li><a href="#rsvp">RSVP</a></li>
    </ul>
  </nav>
</header>

<section id="info" class="slide1">
  <h1>Sofie &amp; John</h1>
  <div class="heart"></div>
  <h3>Are Getting Married</h3>
  <h2>September 13, 2014</h2>
</section>

<section id="location" class="slide2">
  <h1>Location</h1>
  <h2>Harry Parker Boathouse</h2>
  <h3>20 Nonantum Road, Brighton, MA. 02135</h3>
  <p>
    Venue directions can be found
    <a href="https://www.communityrowing.org/about/contact/directions/">here</a>.
  </p>
  <div id="map"></div>
</section>

<section class="slide3"></section>

<section id="hotels" class="slide4">
  <h1>Hotels</h1>
  <p>
    Room blocks have been requested at the following hotels for Friday and
    Saturday nights with  discount rates.
  </p>

  <div class="vcard">
    <div class="org">Crowne Plaza Boston</div>
    <div class="adr">
      <div class="street-address">320 Washington Street</div>
      <span class="locality">Newton</span>,
      <span class="region">MA</span>,
      <span class="postal-code">02458</span>
    </div>
  </div>

  <p>Rate: $219.00/night.</p>

  <p>
    To make a reservation, <a href="http://www.crowneplaza.com/redirect?path=hd&brandCode=cp&localeCode=en®ionCode=1&hotelCode=BOSAA&_PMID=99801505&GPC=BWW">click here</a>
    or call for reservations at <a href="tel:8662577857">866.257.7857</a>, and reference the
    “Björksten/Watson” Wedding.
  </p>

  <div class="vcard">
    <div class="org">Harvard Square Hotel</div>
    <div class="adr">
      <div class="street-address">110 Mount Auburn Street</div>
      <span class="locality">Cambridge</span>,
      <span class="region">MA</span>,
      <span class="postal-code">02138</span>
    </div>
  </div>

  <p>Rate: $269.00/night.</p>

  <p>
    To make a reservation, call <a href="tel:6175203730">617.520.3730</a>
    and reference the “Björksten/Watson” wedding.
  </p>

  <div class="vcard">
    <div class="org">The Charles Hotel</div>
    <div class="adr">
      <div class="street-address">One Bennett Street</div>
      <span class="locality">Cambridge</span>,
      <span class="region">MA</span>,
      <span class="postal-code">02138</span>
    </div>
  </div>

  <p>Rate: $319.00/night</p>

  <p>
    To make a reservation, <a href="">click here</a> or call
    <a href="tel:6178641200">617.864.1200</a> and reference the
    “Björksten/Watson” wedding.
  </p>
</section>

<section class="slide5"></section>

<section id="registry" class="slide6">
  <h1>Gift Registry</h1>
  <h2>Crate &amp; Barrel</h2>
  <p>
    You can view the gift registry <a href="http://www.crateandbarrel.com/Gift-Registry/Sofie-Bjorksten-and-John-Watson/r5166931">here</a>.
    You can also go to <a href="http://www.crateandbarrel.com/Gift-Registry/">this</a>
    page and search for either "Sofie Bjorksten" or "John Watson".
  </p>

  <h2>Macy's</h2>
  <p>
    Our gift registry is available <a href="http://www1.macys.com/registry/wedding/guest/?registryId=6135967">here</a>.
    You can also go to <a href="https://www.macys.com/wedding-registry">this page</a>
    and search for Sofie or John.
  </p>
</section>

<section class="slide7"></section>

<section id="rsvp" class="slide8">
  <h1>Répondez S'il Vous Plaît</h1>
  <h2>Coming soon!</h2>
</section>

<section class="slide9"></section>
