<header>
  <nav>
    <ul>
      <li><a href="#info" class="selected">Info</a></li>
      <li><a href="#location">Location</a></li>
      <li><a href="#accomodations">Accomodations</a></li>
      <li><a href="#registry">Registry</a></li>
      <li><a href="#rsvp">RSVP</a></li>
    </ul>
  </nav>
</header>

<section id="info" class="slide1">
  <h1>Sofie &amp; John</h1>
  <div class="heart"></div>
  <h3>Are Getting Married</h3>
  <h2>September 13, 2014</h2>
</section>

<section id="location" class="slide2">
  <h1>Harry Parker Boathouse</h1>
  <h2>20 Nonantum Road, Brighton, MA. 02135</h2>
  <p>
    Venue directions can be found
    <a href="https://www.communityrowing.org/about/contact/directions/">here</a>.
  </p>
</section>

<section id="accomodations" class="slide3">
  <h1>Testing</h1>
</section>

<section id="registry" class="slide4">
  <h1>Testing</h1>
</section>

<section id="rsvp" class="slide5">
  <h1>Testing</h1>
</section>
