header {
  $header-height: 80px;
  $ul-height: 24px;

  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: $header-height;
  position: fixed;

  nav {
    float: right;
    width: 600px;
    height: $header-height;
    font-family: $Ubuntu;
    font-size: 20px;

    ul {
      margin-top: ($header-height - $ul-height) / 2;
      height: $ul-height;
    }

    li {
      margin-left: 20px;
      display: inline;
    }

    a {
      color: white;
      opacity: 0.6;
      padding-bottom: 4px;

      &:hover {
        color: white;  // Override color set by Bitters.
        opacity: 1.0;
      }

      &.selected {
        opacity: 1.0;
        border-bottom: 2px solid white;
      }
    }
  }
}


section {
  @include box-sizing(content-box);

  &:nth-of-type(odd) {
    height: 600px;
    margin: 0;
    padding: 200px 0 260px 0;
  }

  &:nth-of-type(even) {
    background-color: white;
    font-family: $Ubuntu;
    height: 500px;
    margin: 0 auto;
    padding: 150px 10% 200px 10%;
    overflow: hidden;

    h1 {
      font-family: $Sail;
      text-align: center;
      font-size: 64px;
      margin-bottom: 40px;
    }

    h2 {
      font-family: $Ubuntu;
      font-size: 30px;
    }

    h3 {
      font-family: $Ubuntu;
      font-size: 20px;
    }
  }

  &.slide1 {
    background: image-url("dock.jpg") 50% 0 / cover no-repeat fixed rgb(85, 76, 129);

    h1, h2, h3 {
      font-family: $Sail;
      color: rgb(254, 249, 250);
      text-align: center;
      text-shadow: 0 1px 2px black;
    }

    h1 {
      font-size: 64px;
    }

    div.heart {
      background: image-url("glyphicons_012_heart.png") no-repeat;
      width: 24px;
      height: 22px;
      margin: 0 auto;
      position: relative;
    }

    h2 {
      font-size: 48px;
      margin-top: 10px;
    }

    h3 {
      margin-top: 10px;
    }
  }

  &.slide2 {
    div#map {
      width: 100%;
      height: 300px;
      margin-top: 40px;
    }
  }

  &.slide3 {
    background: image-url("ireland.jpg") 50% 0 / cover no-repeat fixed;
    color: white;
    font-family: $Ubuntu;

    div.vcard {
    }
  }

  &.slide4 {
    div.vcard {
      padding: 20px 0;

      div.org {
        font-size: 24px;
        font-weight: 800;
      }
    }
  }

  &.slide5 {
    background: image-url("london_eye.jpg") 50% 0 / cover no-repeat fixed rgb(166, 117, 81);
  }

  &.slide7 {
    background: image-url("richmond.jpg") 50% 0 / cover no-repeat fixed rgb(166, 117, 81);
  }

  &.slide9 {
    background: image-url("hampton.jpg") 50% 0 / cover no-repeat fixed rgb(166, 117, 81);
  }
}
